.menu__list {
    display: flex;
    justify-content: center;

}   

.menu__item {
    margin-right: 60px;
}

.menu__link {
    transition: .3s;

    &:hover {
    color: #5500F2;
    }

    &_footer:hover {
        color: #FF9A00;
    }
}
