.socials {
    display: flex;
}

.socials_header {
    @include phones {
        display: none;
    }
}

.socials__icon {
    width: 25px;
    height: 25px;
    fill: $text-color;
    transition: .3s;

    &:hover {
        fill: #5500F2;
    }

    &_footer:hover {
        fill: #FF9A00;
    }

    &_footer {
        @include phones {
        width: 50px;
        height: 50px;
        }
    }
}

.socials__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}